.tree {
  min-width: 600px;
  width: 60%;
  margin: 20px auto;
}

.loader {
  text-align: center;
}

.tree ul {
  border-left: 0.5px solid rgb(38, 38, 150);
  margin: 0;
  padding-left: 30px;
  list-style-type: none;
}

.tree ul li {
  margin: 15px 0;
}
